<ul>
  <% @users.each do |u| %>
  <li>
    <%= u.id %> - <%= u.name %>
      <ul>
        <% u.identities.each do |i| %>
        <li><%= i.id %> - <%= i.provider %></li>
        <%end%>
      </ul>
  </li>
  <% end %>
</ul>